<!DOCTYPE html>
<html lang="en" ng-app="receipeBox">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/angular.js"></script>
    <script src="/js/script.js"></script>

    <link rel="stylesheet" href="/style/style.css">
    
    <title>AngularJS | Receipe box</title>
</head>
<body>

    <header class="header-bar">
        <div class="app-name">
            <h2>RECEIPE BOX</h2>
        </div>
        <p>An app to store the amazing receipes you find or create!</p>
    </header>

    <div class="container" ng-controller="recipeBoxCtrl">
        <!-- for upploading an image -->
        <div>
        </div>

        <div class="saved-receipts">
        <ul>
            <li ng-repeat="recipe in recipeList | filter track by $index">
                <div>{{recipe.title}}</div>
                <div>{{recipe.ingredients}}</div>
                <div>
                    <div class="recipeBtn">
                    <button ng-click="editRecipe($index)">Edit</button>
                    <button ng-click="deleteRecipe($index)">Delete</button>
                </div>
            </li>
        </ul>

        </div>
    </div>
    
</body>
</html>